@model IEnumerable<MvcHoang.Models.HeThongPhanPhoi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1> 


// GET: Tìm kiếm
<form asp-action="Index">
 
    <input type="text" name="searchTen" placeholder="Nhập tên cần tìm...">
    <button asp-action="Index" type="submit" value="Tìm kiếm">Tìm Kiếm</button>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaHTPP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenHTPP)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaHTPP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHTPP)
                    </td>
                     <td>
                <a style="text-decoration: none;" asp-action="Edit" asp-route-id="@item.MaHTPP">Edit</a> |
                <a style="text-decoration: none;"asp-action="Details" asp-route-id="@item.MaHTPP">Details</a> |
                <a style="text-decoration: none;"asp-action="Delete" asp-route-id="@item.MaHTPP">Delete</a>
            </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p style="font-size:20px">Không tìm thấy kết quả.</p>
}
<div>
    <a  style="text-decoration: none;"asp-action="Index">Back to List</a>
</div>
